.App {
  text-align: center;
}

img {
  width: 100%;
}

h2,h6,p{
  color:#333333;
}
.bg-dark {
    background-color:#17a2b8 !important;
}
.bg-grey{
  background-color:#cccccc !important;
}

.image{
  background-image: url('./img/landing-page.jpg');
  background-repeat: no-repeat;
  height:600px;
}
.lead1{
  text-align:center;
  font-size:medium;
  color:#666666;
}
.lead{
  color:#333333; 
}
.footer{
  position: absolute;
  width:100%;
}
.btn-info {
    color: #17a2b8;
    background-color:#fafafa;
    border-color:#cccccc;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .3rem;
}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width:100%;
    background-color:  #17a2b8;
    color:#ffffff;

}
.landing {
  position: relative;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 50px;
}

.dark-overlay {
  background-color:#fafafa;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing .col-md-6{
  float:right
}
.landing .col-md-4{
  float:left;
}
.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}